<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}PhotoWall App{% endblock %}</title>
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.2.1/lumen/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>