{% extends "blog/layout.html" %}

{% block title %} {{ post.title }} {% endblock %}
{% block extra_head %}
<style>
    .post_photo {
        max-width: 100%;
    }
    #post_map {
        height: 300px;  
        width: 300px; 
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    $(function(){
        // The location of Uluru
        var lng = '{{ post.lng }}';
        var lat = '{{ post.lat }}';
        alert("lng:"+lng+"/ lat:"+lat);
        if(lat == 'None'){lat = '-25.344'; }
        if(lng == 'None'){lng = '131.036'; }
        var myLnglat = {'lat':parseInt(lat,10), 'lng':parseInt(lng,10)};
        
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('post_map')
            , {zoom: 4, center: myLnglat}
        );
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: myLnglat, map: map});


    });
</script>
{% endblock%}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>{{ post.title }}</h4>
                {% if post.photo %}
                    <img class="post_photo" src="{{ post.photo.url }}" />
                {% endif %}
                <hr/>
                <div id="post_map"></div>
                <hr/>
                {{ post.content|linebreaks }}
                <hr/>
                <a href="{% url "blog:index" %}" class="badge badge-pill badge-dark">목록으로</a>
            </div>
        </div>
    </div>
{% endblock %}